.country {
  background-color: rgb(242, 240, 236);
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
